.ps-footer {
    padding-top: 70px;
    // border-top: 0.5px solid #fff;
    background-color: #12192a;

    &__widgets {
        padding: 25px 0 75px 0;
        background-color: #12192a;

        .ps-container,
        .container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;



            .ps-btn {
                padding: 30px 300px;
                font-size: 3.0em;
                font-weight: 600;
                border-radius: 40px;
            }
        }

        .mobile {
            display: none;
        }

        @include media('<md') {
            .ps-container {
                display: flex;
                padding: 0;

                .header__left {
                    display: flex;
                    align-items: center;
                    text-align: left;

                    img {
                        max-width: 110px !important;
                    }
                }

                .header__center {
                    justify-content: center;

                    ul {
                        padding: 0;

                        li>a {

                            padding: 5px 5px !important;

                            >a {
                                font-size: 12px !important;
                            }
                        }
                    }

                    .menu {
                        display: flex;
                        align-items: center;

                        a {
                            display: flex;
                            align-items: center;
                            padding: 5px 5px !important;
                        }
                    }
                }

                .header__right {
                    width: 100%;
                    max-width: 1000px;
                    justify-content: center;

                    .title {
                        font-size: 12px !important;
                    }
                }
            }
        }

        @include media('<phone') {
            .mobile {
                display: block;
            }

            .button {
                display: none;
            }

            .ps-container,
            .container {
                flex-flow: column nowrap;

                .header__left {
                    display: flex;
                    justify-content: center;

                    .ps-logo {
                        img {
                            @include media('<sm') {
                                max-width: 200px !important;
                            }

                        }
                    }
                }

                .header__center {
                    display: none;

                }

                .header__right {
                    display: none;
                }
            }

        }
    }

    &__links {

        .circle {
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 20px;
            background-color: #fff;
            color: #000;
            font-size: 20px;
            justify-content: center;
            display: flex;
            margin-right: 20px;
        }

        .ps-container {
            display: flex;
            justify-content: space-between;
            padding: 0 0 50px 0;

            .header__left {
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    margin: 0;
                    font-size: 1.4em;
                    color: #fff;
                }
            }

            .header__center {
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    margin: 0;
                    font-size: 1.4em;
                    color: #fff;
                }

            }

            .header__right {
                display: inline-flex;
                align-items: center;
                justify-content: flex-end;
                max-width: 300px;

                .ps-btn {
                    display: none;
                }

                .title {
                    padding-right: 29px;
                    color: #fff;
                    font-size: 20px;

                    @include media('<md') {
                        padding-right: 10px;
                    }
                }

                .follow {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                }

                .header__right__list-icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    border-radius: 20px;
                    background-color: #fff;
                    color: #000;
                    font-size: 20px;
                    margin-left: 10px;

                 
                }
            }
        }

        @include media("<phone") {
            .ps-container {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                padding: 0;

                .header__left {
                    padding: 10px 0;
                    justify-content: left;
                }

                .header__center {
                    padding: 10px 0;
                    justify-content: left;
                }

                .header__right {
                    padding: 50px 0;
                }
            }
        }
    }

    &__copyright {
        padding: 35px 0;
        display: flex;
        flex-flow: column;
        border-top: 1px solid #e1e1e1;

        .last {
            font-weight: 600;
        }

        p {
            margin-bottom: 0;
            line-height: 30px;
            color: #fff;
            font-size: 1.7em;

            &:last-child {
                span {
                    display: inline-block;
                    line-height: inherit;
                    vertical-align: middle;
                }

                a {
                    display: inline-block;
                    margin-left: 20px;
                    vertical-align: middle;
                }
            }
        }

        @include media('<phone') {
            padding: 20px 0;

            p {
                font-size: 1em;
            }

            .last {
                padding: 10px 0;
                font-size: 1.1em;
            }
        }
    }

    @include media('<lg') {
        &__widgets {
            .menu>li>a {
                padding: 15px 10px;
            }
        }

    }

    @include media('<xs') {

        &__copyright {
            flex-flow: row wrap;
            text-align: center;

            p {
                display: block;
                width: 100%;

                span {
                    display: block;
                    padding-bottom: 10px;
                }
            }
        }
    }

    @include media('<sm') {
        padding-top: 20px;
    }
}

.ps-footer--2 {
    .widget_newletters {
        .form-group--nest {
            margin-bottom: 30px;
        }
    }

    &.autopart {
        .widget_newletters {
            .form-group--nest {
                margin-bottom: 30px;

                button {
                    background-color: $color-autopart;
                    color: #fff;

                    &:hover {
                        background-color: darken($color-autopart, 10%);
                    }
                }
            }
        }
    }
}

.ps-footer--3 {
    padding: 0;
    border-top: 1px solid #e1e1e1;
    background-color: #f8f8f8;

    .ps-block--site-features {
        padding: 40px 0;
        margin-bottom: 70px;
        border-bottom: 1px solid #e1e1e1;
    }

    @include media('<sm') {
        .ps-block--site-features {
            margin-bottom: 40px;
        }
    }
}

.ps-footer--kids {
    .ps-form--newletter {
        .form-group--nest {
            margin-bottom: 20px;
        }
    }
}

.ps-footer--photo {
    .ps-site-info {
        h5 {
            color: $color-photo;
            font-size: 24px;
            font-weight: 600;
        }
    }

    .ps-form--newletter {
        button {
            color: #fff;
            background-color: $color-photo;

            &:hover {
                background-color: darken($color-photo, 10%);
            }
        }
    }

    @media (min-width: 1440px) {
        .ps-footer__content {
            flex: 2 1 100%;
        }

        .ps-footer__left {
            flex: 1 1 100%;
            max-width: 400px;
        }

        .ps-footer__content {
            width: 100%;
            max-width: 100%;
        }

        .ps-footer__wrapper {
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    @media (min-width: 1680px) {
        .ps-footer__wrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }
    }
}