.ps-footer {
    padding-top: 70px;
    border-top: 2px solid #e1e1e1;
    background-color: #12192a;

    &__widgets {
        padding: 25px 0;
        background-color: #12192a;

        .ps-container, .container {
            display: flex;
            flex-flow: row nowrap;
            
            > * {
                width: 100%;
            }
            .header__left {
                .ps-logo {
                    img {
                        max-height: 50px;
                    }
                }
            }
            // .header__right {
            //     display: flex;
            //     justify-content: flex-end;
            //     align-items: center;
            // }

            .header__center {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .menu {
                    margin-bottom: 0;
                    a {
                        font-size: 16px;
                        padding: 15px 15px;
                    }

                }
            }

            .header__right{
                display: inline-flex;
                align-items: center;
                justify-content: flex-end;
                max-width: 300px;
                .title{
                    padding-right: 20px;
                    color: #fff;
                    font-size: 16px;
                }
                .header__right__list-icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    border-radius: 20px;
                    background-color: #fff;
                    color: #000;
                    font-size: 20px;
                    margin-left: 10px;
                }
            }
        }

        @include media('<md') {
            .ps-container {
                display: flex;
                flex-direction: column;
                .header__left {
                    margin-bottom: 20px;
                    text-align: center;
                }
                .header__center {
                    justify-content: center;
                    margin-bottom: 20px;
                    ul {
                        padding: 0;
                        li > a {
                            padding: 15px 5px !important;
                        }
                    }
                }
                .header__right {
                    width: 100%;
                    max-width: 1000px;
                    justify-content: center;
                }
            }
        }
    }

    &__links {
        padding: 60px 0;
        text-align: center;
        .contact {
            display: flex;
            align-items: center;
            ul {
                padding-left: 0;
                list-style: none;
                li {
                    display: flex;
                    align-items: center;
                    margin-bottom: 30px;
                    text-align: center;
                    p {
                        margin-left: 20px;
                        color: #fff;
                        margin-bottom: 0;
                    }
    
                    .circle {
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        border-radius: 20px;
                        background-color: #fff;
                        color: #000;
                        font-size: 20px;
                        justify-content: center;
                        display: flex;
                    }
                    
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                
            }
        }
        
        p {
            strong {
                color: $color-heading;
                margin-right: 20px;
                font-weight: 600;
            }

            a {
                display: inline-block;
                color: $color-text;
                line-height: 20px;
                margin-right: 10px;
                position: relative;

                &:after {
                    content: '|';
                    margin-left: 5px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $color-heading;
                    @include transform(scale3d(0, 1, 1));
                    transition: transform 0.4s $timing-1;
                    @include transform-origin(100% 50%);
                }

                &:hover {
                    &:before {
                        @include transform(scale3d(1, 1, 1));
                        @include transform-origin(0 50%);
                    }
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    &__copyright {
        padding: 35px 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        border-top: 1px solid #e1e1e1;
        
        p {
            margin-bottom: 0;
            line-height: 30px;
            color: #fff;

            &:last-child {
                span {
                    display: inline-block;
                    line-height: inherit;
                    vertical-align: middle;
                }

                a {
                    display: inline-block;
                    margin-left: 20px;
                    vertical-align: middle;
                }
            }
        }
    }

    @include media('<lg') {
        &__widgets {
            .menu > li > a {
                padding: 15px 10px;
            }
        }
        
    }

    @include media('<xs') {
        
        &__copyright {
            flex-flow: row wrap;
            text-align: center;

            p {
                display: block;
                width: 100%;

                span {
                    display: block;
                    padding-bottom: 10px;
                }
            }
        }
    }
}

.ps-footer--2 {
    .widget_newletters {
        .form-group--nest {
            margin-bottom: 30px;
        }
    }
    &.autopart {
        .widget_newletters {
            .form-group--nest {
                margin-bottom: 30px;
                button {
                    background-color: $color-autopart;
                    color: #fff;
                    &:hover {
                        background-color: darken($color-autopart, 10%);
                    }
                }
            }
        }
    }
}

.ps-footer--3 {
    padding: 0;
    border-top: 1px solid #e1e1e1;
    background-color: #f8f8f8;

    .ps-block--site-features {
        padding: 40px 0;
        margin-bottom: 70px;
        border-bottom: 1px solid #e1e1e1;
    }

    @include media('<sm') {
        .ps-block--site-features {
            margin-bottom: 40px;
        }
    }
}

.ps-footer--kids {
    .ps-form--newletter {
        .form-group--nest {
            margin-bottom: 20px;
        }
    }
}

.ps-footer--photo {
    .ps-site-info {
        h5 {
            color: $color-photo;
            font-size: 24px;
            font-weight: 600;
        }
    }

    .ps-form--newletter {
        button {
            color: #fff;
            background-color: $color-photo;

            &:hover {
                background-color: darken($color-photo, 10%);
            }
        }
    }

    @media (min-width: 1440px) {
        .ps-footer__content {
            flex: 2 1 100%;
        }

        .ps-footer__left {
            flex: 1 1 100%;
            max-width: 400px;
        }

        .ps-footer__content {
            width: 100%;
            max-width: 100%;
        }

        .ps-footer__wrapper {
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    @media (min-width: 1680px) {
        .ps-footer__wrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }
    }
}
