.header {
    @extend %list-reset;

    .header__extra {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 42px;
        transition: all 0.4s ease;

        > i {
            font-size: 30px;
            line-height: 42px;
        }

        span {
            position: absolute;
            bottom: 0;
            right: -6px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            vertical-align: top;
            width: 20px;
            height: 20px;
            color: #ffffff;
            background-color: #000000;
            border-radius: 50%;

            i {
                font-size: 12px;
                font-style: normal;
                line-height: 1em;
                font-weight: 500;
            }
        }

        &:hover {
            i {
                color: #ffffff;
            }
        }
    }

    .header__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        > * {
            margin: 0 20px;
        }
    }

    .header__left {
        max-width: 250px;
        display: flex;
        align-items: center;

        .menu--product-categories {
            display: none;
        }
    }

    .header__center {
    }

    .header__right {
        
        max-width: 300px;
        // max-height: 45px;
    }

    .header__top {
        padding: 15px 0;
        background-color: #12192a;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

        .ps-container, .container {
            display: flex;
            flex-flow: row nowrap;

            > * {
                width: 100%;
            }
            .header__left {
                
                .ps-logo {
                    img {
                        max-width: 250px;
                    }
                }
            }
            .header__right {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            .header__center {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }

    .header__contact {
        background-color: #f4f5f5;
        .ps-container {
            font-size: 15px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            padding-top: 15px;
            padding-bottom: 15px;

            .header__left {
                min-width: 300px;
            }

            > * {
                width: 100%;
            }

            .header__right{
                display: inline-flex;
                align-items: center;
                justify-content: flex-end;
                .title{
                    padding-right: 20px;
                }
                .header__right__list-icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 28.4px;
                    height: 28.4px;
                    border-radius: 20px;
                    background-color: #000;
                    color: #fff;
                    font-size: 20px;
                    margin-left: 10px;
                }
            }
        }
    }

    .navigation--mobile {
        .header__extra {
            width: 40px;
        }
    }

    &.header--sticky {
        .header-wrapper {
            position: relative;
        }

        .content {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }

        @include media('<lg') {
            .content {
                position: inherit
            }
        }
    }

    @include media('<lg') {
        .header__right{
            max-width: 1000px;
            justify-content: center !important;
        }
        
    }
    @include media('<md') {
        .header__contact{
            .ps-container{
                flex-flow: column;
                .header__center {
                    display: none;
                }
            }
        }
       
        .ps-container{
            justify-content: center;
        }
        .header__left {
            display: flex;
            justify-content: center;
        }

        .ps-container > .header__center {
            margin-top: 10px;
            justify-content: center !important;
            text-align: center !important;
        }

        .header__top > .ps-container {
            flex-flow: column;
        }

        .header__left {
            max-width: 1000px !important;
        }
    }
}

.header--standard {
    .ps-block--user-header {
        a {
            &:hover {
                color: $color-1st;
            }
        }
    }

    .header__top-links {
        width: 100%;

        > li {
            display: inline-block;
            margin-right: 16px;
            padding-right: 15px;
            position: relative;

            &:after {
                content: '';
                @include vertical-align();
                right: 0;
                height: 15px;
                width: 0;
                border-right: 1px solid #e1e1e1;
            }

            > a {
                color: #666666;
            }

            &:last-child {
                margin-right: 0;
                padding-right: 0;

                &:after {
                    display: none;
                }
            }
        }

        .language {
            > a {
                img {
                    margin-right: 5px;
                }
            }
        }

        .ps-block--user-header {
            .ps-block__left {
                i {
                    font-size: 14px;
                }
            }

            .ps-block__right {
                a {
                    display: inline-block;
                    font-weight: 400;
                    margin-right: 10px;
                    color: #666666;

                    &:first-child {
                        &:after {
                            content: '/';
                            padding-left: 10px;
                        }
                    }

                    &:hover {
                        color: $color-1st;
                    }
                }
            }
        }
    }

    .header__top {
        padding: 10px 0;
        background-color: #fff;
        border-bottom: none;

        .container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }

        .header__left {
            max-width: 50%;

            p {
                margin-bottom: 0;
                color: #666666;
                line-height: 30px;

                strong {
                    color: $color-heading;
                }
            }
        }

        .header__right {
            text-align: right;
            max-width: 50%;
        }
    }

    .header__content-left {
        max-width: 270px;
        padding-right: 30px;
        display: flex;
        align-items: center;

        .ps-logo {
            margin-right: 30px;
        }
    }

    .header__content-center {
        max-width: 600px;
    }

    .menu--product-categories {
        .menu__toggle {
            i {
                font-size: 30px;
            }
        }
    }

    .ps-form--quick-search {
        width: 600px;

        button {
            background-color: #fcb800;
            color: $color-heading;
        }

        .form-group--icon {
            border: 1px solid #e1e1e1;
            min-width: 80px;
            border-radius: 4px 0 0 4px;

            select {
                height: 40px;
                border: none;
            }
        }

        input {
            border: 1px solid #e1e1e1;
            border-left: none;
        }
    }

    .header__content {
        padding: 20px 0;

        .menu--product-categories {
            .menu__toggle {
                &:hover {
                    &:before {
                        display: none;
                    }
                }
            }
        }

        .container {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            > * {
                width: 100%;
            }
        }
    }

    .header__extra {
        span {
            background-color: $color-1st;

            i {
                color: $color-heading;
                font-weight: 700;
            }
        }
    }

    &.header--sticky {
        .header-wrapper {
            position: relative;
        }

        .content {
            position: fixed;
            top: 0;
            z-index: 1000;
        }

    }

    // @include media('<lg') {
    //     display: none;
    // }
}

.header--product {
    /*  @include hidden;
    height: 0;*/

    .navigation--product {
        transition: transform 0.25s ease;
        transform: translateY(-50%);
        @include hidden();
        height: 0;
    }

    &.header--sticky {
        @include show;
        height: auto;

        .header__top {
            display: none;
        }

        .navigation {
            height: 0;
        }

        .navigation--product {
            padding: 10px 0;
            background-color: #fff;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 9999;
            height: auto;
            border-bottom: 1px solid #eaeaea;
            transform: translateY(0);
            height: auto;
            @include show;
        }
    }
}

.header--mobile {
    
}

.header--mobile-product {
    .header__back {
        vertical-align: middle;
        text-align: left;

        strong {
            font-size: 18px;
            vertical-align: middle;
        }

        i {
            vertical-align: middle;
            margin-right: 0.5em;
            font-size: 24px;
            color: $color-heading;
        }
    }

    .navigation--mobile {
        .navigation__left {
            justify-content: flex-start;
        }
    }
}

.header--mobile-categories {
    .header__back {
        vertical-align: middle;
        text-align: left;

        strong {
            font-size: 18px;
            vertical-align: middle;
        }

        i {
            vertical-align: middle;
            margin-right: 16px;
            font-size: 24px;
            color: $color-heading;
        }
    }

    .navigation--mobile {
        .navigation__left {
            justify-content: flex-start;
        }
    }

    .header__filter {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f5f5f5;

        > * {
            flex-basis: 100%;
            max-width: 50%;
        }

        button {
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            background-color: transparent;
            font-size: 14px;

            &:after {
                content: '\e93a';
                font-family: Linearicons;
                margin-left: 20px;
            }

            i {
                margin-right: 10px;
                font-size: 16px;
                font-size: 20px;
                color: $color-text;
            }
        }

        .header__sort {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;

            i {
                margin-right: 10px;
                font-size: 16px;
                font-size: 20px;
                color: $color-text;
            }

            .select2 {
                .select2-selection {
                    border: none;
                    background-color: transparent;

                    .select2-selection__rendered {
                        background-color: transparent;
                        text-align: left;
                    }

                    .select2-selection__arrow {
                        &:before {
                            content: '\e93a';
                            font-family: Linearicons;
                        }
                    }
                }
            }
        }

        > button {
            border-right: 1px solid #ccc;
        }
    }
}

.ant-modal-content {
    background: rgb(23,48,93) !important;
    background: radial-gradient(circle, rgba(23,48,93,1) 100%, rgba(3,7,14,1) 100%) !important;
    border-radius: 20px;
    .ant-modal-close {
        border-radius: 50px;
        transform: translate(50%, -50%);
        background: #fff;
    }
    .ant-modal-footer {
        border-top: none;
        .ant-footer__custom {
            text-align: center;
            color: #fff;
            font-size: 40px;

            phone {
                color:#ff841d;
                font-weight: 600;
            }
        }
    }
    .ant-modal-body {
        padding: 24px 24px 0;
        .title {
            text-align: center;
            h2 {
                color: #fff;
                font-weight: 600;
                font-size: 48px;
            }
            p {
                font-size: 18px;
                color: #fff;
            }
        }
        .checkbox {
            &.ant-form-item {
                margin-bottom: 0;
            }
        }
        
        .ant-checkbox-wrapper {
            span {
                font-size: 18px;
            }
        }
        .ps-btn {
            padding: 10px 60px;
            background-color: #ff841d;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
        }

        .form {
            background-color: #fff;
            padding: 30px 30px;
            border-radius: 20px;

            label {
                color: rgb(23,48,93);
                font-weight: 600;
            }
            .ant-form-item-required {
                
                &::before{
                    display: none;
                }
            }
        }

        
    }
}
.modal-success {
    .ant-modal-content {
        background-color: #fff !important;
        background: #fff !important;
    }
    .ant-modal-footer {
        text-align: center;
        .ps-btn {
            padding: 10px 60px;
            background-color: rgb(23,48,93);
            color: #fff;
            font-size: 18px;
            font-weight: 600;
        }
    }

    .ant-modal-close {
        display: none;
    }

    .title {
        text-align: center;
        h2 {
            color: rgb(23,48,93) !important;
            font-weight: 600;
            font-size: 48px;
        }
        p {
            font-size: 18px;
            color: rgb(23,48,93) !important;
        }
    }

    .modal-success__icon {
        text-align: center;
        margin-bottom: 20px;
        .icon {
            text-align: center;
            padding: 10px;
            border: 4px solid rgb(23,48,93);
            border-radius: 50px;
            font-size: 72px;
        }
    }
    
}
.ant-select-selector{
    border-radius: 10px !important;
}